.form {
    font-family: 'Comic Sans MS';
}

.input {
    font-size: 16px;
    background-color: #ffa8cd;
    width: 100%;
}

.header {
    color: #332600;
    font-size: 30px;
    text-align: center;
}

.button {
    font-size: 20px;
    background-color: #a191bd;
    border-radius: 4px;
    color: #332600;
    width: 100%;
}

.block {
    margin-top: 10px;
}

.switch-button {
    margin-top: 8px;
    font-size: 16px;
    border-radius: 4px;
    color: #ffa8cd;
    display: inline-block;
    text-align: center;
    width: 100%;
}
